In [93]:
import pandas as pd
import numpy as np
import requests
import os
import dotenv
import datetime as dt
import pytz
from zoneinfo import ZoneInfo
import importlib
import yfinance as yf

# import secrets

In [7]:
dotenv.load_dotenv()

True

# Alpha Vantage

In [27]:
function_name="TIME_SERIES_INTRADAY"
symbol="IBM"
interval="60min"
apikey=os.environ.get("ALPHA_VANTAGE_API_KEY")

url = f'https://www.alphavantage.co/query?function={function_name}&symbol={symbol}&interval={interval}&apikey={apikey}&outputsize=full&month=2009-01'
r = requests.get(url)
data = r.json()

pd.DataFrame.from_dict(data[f'Time Series ({interval})'], orient='index')

                     1. open  2. high   3. low 4. close 5. volume
2009-01-30 19:55:00  52.0630  52.2570  51.7920  51.9970       209
2009-01-30 17:40:00  52.0920  52.2850  51.8200  52.0250     84726
2009-01-30 17:15:00  52.4020  52.5960  52.1290  52.3350      2651
2009-01-30 17:10:00  52.0920  52.2850  51.8200  52.0250       359
2009-01-30 17:05:00  51.8930  52.0910  51.6230  51.8320       334
...                      ...      ...      ...      ...       ...
2009-01-02 08:30:00  47.8350  48.0120  47.5850  47.7730      9110
2009-01-02 08:25:00  47.8350  48.0120  47.5850  47.7730      1733
2009-01-02 08:15:00  47.8400  48.0180  47.5910  47.7790       104
2009-01-02 08:05:00  47.8350  48.0120  47.5850  47.7730      1733
2009-01-02 08:00:00  48.0280  48.2060  47.7780  47.9660       104

[2088 rows x 5 columns]

In [28]:
function_name="TIME_SERIES_INTRADAY"
symbol="IBM,AAPL"
interval="5min"
apikey=os.environ.get("ALPHA_VANTAGE_API_KEY")

url = f'https://www.alphavantage.co/query?function={function_name}&symbol={symbol}&interval={interval}&apikey={apikey}&outputsize=full&month=2009-01'
r = requests.get(url)
data = r.json()

pd.DataFrame.from_dict(data[f'Time Series ({interval})'], orient='index')

KeyError: 'Time Series (5min)'

# Finnhub

In [46]:
import finnhub

In [47]:
finnhub_client = finnhub.Client(api_key=os.environ.get("FINNHUB_API_KEY"))

In [48]:
print(finnhub_client.quote('AAPL'))

{'c': 170.73, 'd': 1.73, 'dp': 1.0237, 'h': 173.7, 'l': 168.94, 'o': 169, 'pc': 169, 't': 1709931601}

In [49]:
finnhub_client.quote('AAPL')['t']

1709931601

# Testing the DataGrabber Classes

In [88]:
import data_grabber

In [98]:
importlib.reload(data_grabber)

In [99]:
av = data_grabber.AlphaVantageAPI()
fh = data_grabber.FinnHubAPI()
yfin = data_grabber.YahooFinance()
dg = data_grabber.DataGrabber()

In [100]:
df = dg.get_prices(
    tickers=["AAPL", "IBM"],
    frequency="5m"
)
df

[*********************100%%**********************]  2 of 2 completed

ticker                       AAPL     IBM
datetime
2024-03-04 04:00:00-05:00  178.96  188.25
2024-03-04 04:05:00-05:00  179.19  188.31
2024-03-04 04:10:00-05:00  179.07  188.28
2024-03-04 04:15:00-05:00  178.97  188.79
2024-03-04 04:20:00-05:00  178.68  188.66
...                           ...     ...
2024-03-08 19:40:00-05:00  170.29  195.94
2024-03-08 19:45:00-05:00  170.38  195.50
2024-03-08 19:50:00-05:00  170.36  195.50
2024-03-08 19:55:00-05:00  170.48  195.48
2024-03-08 20:00:00-05:00  170.48  195.48

[898 rows x 2 columns]

In [103]:
df = dg.get_prices(
    tickers=["AAPL"],
    frequency="5m"
)
df

[*********************100%%**********************]  1 of 1 completed

ticker                       AAPL
datetime
2024-03-04 04:00:00-05:00  178.96
2024-03-04 04:05:00-05:00  179.19
2024-03-04 04:10:00-05:00  179.07
2024-03-04 04:15:00-05:00  178.97
2024-03-04 04:20:00-05:00  178.68
...                           ...
2024-03-08 19:40:00-05:00  170.29
2024-03-08 19:45:00-05:00  170.38
2024-03-08 19:50:00-05:00  170.36
2024-03-08 19:55:00-05:00  170.48
2024-03-08 20:00:00-05:00  170.48

[891 rows x 1 columns]

# Server Testing

In [60]:
import server

In [104]:
importlib.reload(server)

In [106]:
serv = server.Server(supported_assets=["AAPL", "TSLA"], port=8000)

[*********************100%%**********************]  2 of 2 completed

In [10]:
# prices = server._get_data_from_API( "1m", dt.datetime.now() )
# signals = server._calc_signal( "1m", prices )
# pnl = server._calc_pnl(signals, prices)

# frames  = []
# for col_name, cur_df in [('price', prices), ('signal', signals), ('pnl', pnl)]:
#     frames.append(cur_df.melt(ignore_index=False, value_name=col_name).set_index('ticker', append=True))
# final_df = pd.concat(frames, axis=1).reset_index()
# print(final_df)

[*********************100%%**********************]  2 of 2 completed

In [107]:
res = serv._get_data( dt.datetime(2024, 3, 8, 12, 10, 1, tzinfo=ZoneInfo("US/Eastern")) )
print(res)

AAPL		172.4,1.0
TSLA		176.14,-1.0

In [109]:
serv._add_ticker("NVDA")

[*********************100%%**********************]  1 of 1 completed

In [110]:
res = serv._get_data( dt.datetime(2024, 3, 8, 12, 10, 1, tzinfo=ZoneInfo("US/Eastern")) )
print(res)

NVDA		889.4,-1.0
AAPL		172.4,1.0
TSLA		176.14,-1.0

In [111]:
serv._add_ticker("AAPL")

In [112]:
serv._delete_ticker("AAPL")

In [120]:
res = serv._get_data( dt.datetime(2024, 3, 5, 12, 10, 1, tzinfo=ZoneInfo("US/Eastern")) )
print(res)

NVDA		849.27,nan
TSLA		179.99,nan

In [114]:
serv._reconstruct_reports()

[*********************100%%**********************]  2 of 2 completed

In [124]:
time_info = dt.datetime.strptime("2024-08-01-15:23", "%Y-%m-%d-%H:%M")

In [125]:
time_info

datetime.datetime(2024, 8, 1, 15, 23)

In [126]:
tt = time_info.replace(tzinfo=ZoneInfo("US/Eastern"))

In [127]:
res = serv._get_data( tt )
print(res)

NVDA		851.0,-1.0
TSLA		174.98,-1.0