In [1]:
import pandas as pd
import numpy as np
import requests
import os
import dotenv
import datetime as dt

# import secrets

In [2]:
dotenv.load_dotenv()

True

# Alpha Vantage

In [27]:
function_name="TIME_SERIES_INTRADAY"
symbol="IBM"
interval="60min"
apikey=os.environ.get("ALPHA_VANTAGE_API_KEY")

url = f'https://www.alphavantage.co/query?function={function_name}&symbol={symbol}&interval={interval}&apikey={apikey}&outputsize=full&month=2009-01'
r = requests.get(url)
data = r.json()

pd.DataFrame.from_dict(data[f'Time Series ({interval})'], orient='index')

                     1. open  2. high   3. low 4. close 5. volume
2009-01-30 19:55:00  52.0630  52.2570  51.7920  51.9970       209
2009-01-30 17:40:00  52.0920  52.2850  51.8200  52.0250     84726
2009-01-30 17:15:00  52.4020  52.5960  52.1290  52.3350      2651
2009-01-30 17:10:00  52.0920  52.2850  51.8200  52.0250       359
2009-01-30 17:05:00  51.8930  52.0910  51.6230  51.8320       334
...                      ...      ...      ...      ...       ...
2009-01-02 08:30:00  47.8350  48.0120  47.5850  47.7730      9110
2009-01-02 08:25:00  47.8350  48.0120  47.5850  47.7730      1733
2009-01-02 08:15:00  47.8400  48.0180  47.5910  47.7790       104
2009-01-02 08:05:00  47.8350  48.0120  47.5850  47.7730      1733
2009-01-02 08:00:00  48.0280  48.2060  47.7780  47.9660       104

[2088 rows x 5 columns]

In [28]:
function_name="TIME_SERIES_INTRADAY"
symbol="IBM,AAPL"
interval="5min"
apikey=os.environ.get("ALPHA_VANTAGE_API_KEY")

url = f'https://www.alphavantage.co/query?function={function_name}&symbol={symbol}&interval={interval}&apikey={apikey}&outputsize=full&month=2009-01'
r = requests.get(url)
data = r.json()

pd.DataFrame.from_dict(data[f'Time Series ({interval})'], orient='index')

KeyError: 'Time Series (5min)'

In [ ]:
class DataGrabber:

    def __init__(self, api_key):
        self.api_key = api_key
    
    def get_prices_data(self):
        ...


class AlphaVantageAPI(DataGrabber):

    def __init__(self, api_key) -> None:
        super().__init__(api_key)
    
    def get_prices_data(
        self,
        symbol : str,
        interval : int,
        month : str
    ) -> pd.DataFrame:
        
        base_url = "https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY"
        args = f"&symbol={symbol}&interval={interval}&apikey={apikey}&outputsize=full&month={month}"
        url = base_url + args

        r = requests.get(url)
        data = r.json()

        return pd.DataFrame.from_dict(data[f'Time Series ({interval})'], orient='index')

# Finnhub

In [46]:
import finnhub

In [47]:
finnhub_client = finnhub.Client(api_key=os.environ.get("FINNHUB_API_KEY"))

In [48]:
print(finnhub_client.quote('AAPL'))

{'c': 170.73, 'd': 1.73, 'dp': 1.0237, 'h': 173.7, 'l': 168.94, 'o': 169, 'pc': 169, 't': 1709931601}

In [49]:
finnhub_client.quote('AAPL')['t']

1709931601

In [51]:
finnhub_client.stock_candles(
    symbol="IBM",
    resolution=15,
    _from="2024-02-01",
    to="2024-02-29"
)

FinnhubAPIException: FinnhubAPIException(status_code: 403): You don't have access to this resource.

# Testing the DataGrabber Classes

In [3]:
import data_grabber
import importlib

In [4]:
importlib.reload(data_grabber)

In [6]:
av = data_grabber.AlphaVantageAPI()
fh = data_grabber.FinnHubAPI()
yfin = data_grabber.YahooFinance()
dg = data_grabber.DataGrabber()

In [125]:
df = dg.get_prices(
    tickers=["AAPL", "IBM"],
    frequency="1m"
)

[*********************100%%**********************]  2 of 2 completed

NOTE: Getting the latest data available.

/Users/kartikeysinha/Desktop/ktk_dev.nosync/github/OTPP_project/project1/data_grabber.py:127: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.

In [126]:
df

ticker                       AAPL     IBM
Datetime
2024-03-04 04:00:00-05:00  179.18  188.87
2024-03-04 04:01:00-05:00  179.02  188.87
2024-03-04 04:02:00-05:00  179.08  188.26
2024-03-04 04:03:00-05:00  179.00  188.25
2024-03-04 04:04:00-05:00  178.96  188.25
...                           ...     ...
2024-03-08 19:56:00-05:00  170.42  195.49
2024-03-08 19:57:00-05:00  170.40  195.49
2024-03-08 19:58:00-05:00  170.46  195.49
2024-03-08 19:59:00-05:00  170.48  195.48
2024-03-08 20:00:00-05:00  170.48  195.48

[4722 rows x 2 columns]

# Server Testing

In [3]:
import server

In [2]:
importlib.reload(server)

NameError: name 'importlib' is not defined

In [4]:
server = server.Server(supported_assets=["AAPL", "TSLA"], port=8000)

NOTE: Getting the latest data available.

[*********************100%%**********************]  2 of 2 completed

     ticker    value ticker  value ticker  value
9336   TSLA  174.880   TSLA   -1.0   TSLA -0.070
9337   TSLA  174.950   TSLA   -1.0   TSLA  0.055
9338   TSLA  174.895   TSLA   -1.0   TSLA -0.055
9339   TSLA  174.950   TSLA   -1.0   TSLA  0.005
9340   TSLA  174.945   TSLA   -1.0   TSLA  0.010
9341   TSLA  174.935   TSLA   -1.0   TSLA -0.035
9342   TSLA  174.970   TSLA   -1.0   TSLA -0.020
9343   TSLA  174.990   TSLA   -1.0   TSLA -0.000
9344   TSLA  174.990   TSLA   -1.0   TSLA  0.030
9345   TSLA  174.960   TSLA   -1.0   TSLA  0.080
9346   TSLA  174.880   TSLA   -1.0   TSLA -0.010
9347   TSLA  174.890   TSLA   -1.0   TSLA -0.000
9348   TSLA  174.890   TSLA   -1.0   TSLA -0.070
9349   TSLA  174.960   TSLA   -1.0   TSLA -0.010
9350   TSLA  174.970   TSLA   -1.0   TSLA -0.005
9351   TSLA  174.975   TSLA   -1.0   TSLA -0.015
9352   TSLA  174.990   TSLA   -1.0   TSLA -0.000
9353   TSLA  174.990   TSLA   -1.0   TSLA  0.010
9354   TSLA  174.980   TSLA   -1.0   TSLA -0.000
9355   TSLA  174.980   TSLA   -1.0   TSLA    NaN

In [5]:
prices = server._get_data( "1m", dt.datetime.now() )
signals = server._calc_signal( "1m", prices )
pnl = server._calc_pnl(signals, prices)

[*********************100%%**********************]  2 of 2 completed

NOTE: Getting the latest data available.

In [6]:
frames  = []
for col_name, cur_df in [('price', prices), ('signal', signals), ('pnl', pnl)]:
    frames.append(cur_df.melt(ignore_index=False, value_name=col_name).set_index('ticker', append=True))

In [16]:
final_df = pd.concat(frames, axis=1).reset_index(level=1)

In [20]:
final_df.index

DatetimeIndex(['2024-03-04 04:00:00-05:00', '2024-03-04 04:01:00-05:00',
               '2024-03-04 04:02:00-05:00', '2024-03-04 04:03:00-05:00',
               '2024-03-04 04:04:00-05:00', '2024-03-04 04:05:00-05:00',
               '2024-03-04 04:06:00-05:00', '2024-03-04 04:07:00-05:00',
               '2024-03-04 04:08:00-05:00', '2024-03-04 04:09:00-05:00',
               ...
               '2024-03-08 19:51:00-05:00', '2024-03-08 19:52:00-05:00',
               '2024-03-08 19:53:00-05:00', '2024-03-08 19:54:00-05:00',
               '2024-03-08 19:55:00-05:00', '2024-03-08 19:56:00-05:00',
               '2024-03-08 19:57:00-05:00', '2024-03-08 19:58:00-05:00',
               '2024-03-08 19:59:00-05:00', '2024-03-08 20:00:00-05:00'],
              dtype='datetime64[ns, America/New_York]', name='datetime', length=9356, freq=None)

In [10]:
final_df['datetime'] = final_df['datetime'].dt.strp

                      datetime ticker    price  signal    pnl
0    2024-03-04 04:00:00-05:00   AAPL  179.180     NaN    NaN
1    2024-03-04 04:01:00-05:00   AAPL  179.020     NaN    NaN
2    2024-03-04 04:02:00-05:00   AAPL  179.080     NaN    NaN
3    2024-03-04 04:03:00-05:00   AAPL  179.000     NaN    NaN
4    2024-03-04 04:04:00-05:00   AAPL  178.960     NaN    NaN
...                        ...    ...      ...     ...    ...
9351 2024-03-08 19:56:00-05:00   TSLA  174.975    -1.0 -0.015
9352 2024-03-08 19:57:00-05:00   TSLA  174.990    -1.0 -0.000
9353 2024-03-08 19:58:00-05:00   TSLA  174.990    -1.0  0.010
9354 2024-03-08 19:59:00-05:00   TSLA  174.980    -1.0 -0.000
9355 2024-03-08 20:00:00-05:00   TSLA  174.980    -1.0    NaN

[9356 rows x 5 columns]